/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    text-decoration: none;
}

body {
    background-color: #4D6478;
    padding: 2rem 2rem;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 4px;
}